*.iml
.gradle
.idea
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/simpleApk/*.iml
/simpleApk/.gradle
/simpleApk/local.properties
/simpleApk/.idea
/simpleApk/.DS_Store
/simpleApk/build
/simpleApk/captures
/simpleApk/.externalNativeBuild
/simpleApk/.cxx
/buildSrc/build
